nav{
    display: flex;
    justify-content:  center;
    width: 100%;
    height: 12vh;
    margin: 0 auto 0.5% auto;
    align-items: center;
    background-color: white;
    border-radius: 0 0 1em 1em;
}
#logo{
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 6%;
    height: 13vh;
}
#name{
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 3%;
    color: black;
    padding-right: 6%;
}