.outer-outer-div {
  margin-top: 2%;
  width: 100%;
  height: auto;
  background-color: transparent(255, 255, 255);
}
.outer-div {
  padding-bottom: 1%;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;
  min-height: fit-content;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7em;
  overflow: hidden;
  overflow-y: scroll;
}

.outer-div::-webkit-scrollbar {
  width: 0.8em;
}
.outer-div::-webkit-scrollbar-track {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 400px;
  background-color: transparent;
}
.outer-div::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgb(217, 177, 255);
}

.inner-div {
  font-size: 13.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  margin: 1% 3% 0% 3%;
  border-radius: 1em;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.inner-div > h2 {
  width: 70%;
  margin-left: 3%;
}
.inner-div > h3:nth-last-child(2) {
  width: 8%;
}
.inner-div > h3:nth-last-child(1) {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 850px) {
  .inner-div {
    font-size: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    margin: 2% 1% 0% 3%;
    border-radius: 1em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.36);
    cursor: pointer;
  }
  .inner-div > h2 {
    font-size: 13px;
    width: 72%;
    margin-left: 3%;
  }
  .inner-div > h3:nth-last-child(2) {
    width: 12%;
  }
  .inner-div > h3:nth-last-child(1) {
    margin-left: 2%;
  }
  .outer-div {
    padding-bottom: 2%;
  }
  .outer-div::-webkit-scrollbar {
    width: 0.3em;
  }
  .outer-div::-webkit-scrollbar-track {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 400px;
    background-color: transparent;
  }
  .outer-div::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgb(217, 177, 255);
  }
}
